h1 {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    background: var(--NAVY-BLUE, #2E2F42);
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    padding-top: 188px;
}

h1 > button {
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color:white;
}

button:hover {
    border-radius: 4px;
        background: teal;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: black;
}

.main-header-menu-link {
    text-decoration: none;
}

.ctas-link {
    text-decoration: none;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.web1 {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.web2 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.web3-footer {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-header-menu-link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

h2 {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

p {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.sub-menu .sub-menu1{
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
    color: var(--IRIS, #4D5AE5);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        border-radius: 4px;
            border: 1px solid var(--CORNFLOWER, #E7E9FC);
            background: var(--CLOUD, #F4F4FD);
}

.sub-menu .sub-menu1:hover {
    border-radius: 4px;
background: var(--OCEAN, #404BBF);
color: var(--WHITE, #FFF);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.main-header .main-header-menu-link:hover {
    border-radius: 4px;
        background: var(--OCEAN, #404BBF);
        color: var(--WHITE, #FFF);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.main-header-ctas .ctas-link:hover {
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

footer {
    background: var(--NAVY-BLUE, #2E2F42);
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

footer > h3:hover {
    border-radius: 4px;
        background: var(--OCEAN, #404BBF);
        color: teal;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.web1:hover {
    color:teal;
}

.web2:hover {
    color: teal;
}

.web3-footer:hover {
    color: teal;
}